export PYTHONBREAKPOINT=ipdb.set_trace
export AWS_USER=
export AWS_PASSWORD=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_REGION_NAME=eu-west-2
export AWS_ROLE_ARN=

# Optionally set this to include a user string in the S3 export filename for debugging
# export S3_FILENAME_USER=

# Uncomment the following line if you want to skip the S3 upload
# export SKIP_S3_UPLOAD=true
