AUTHENTICATION_REQUIRED="FALSE" # TRUE or FALSE
AIRBYTE_SERVER_URL="http://localhost:8000/api/public/v1"
AIRBYTE_CLIENT_ID=
AIRBYTE_CLIENT_SECRET=

# RESOURCE IDs
SOURCE_ID=
DESTINATION_ID=
EPC_CONNECTION_ID=

WORKSPACE_NAME="workspace-sdk"
WORKSPACE_ID=

# S3 SOURCE 
S3_AUTH_MODE="access_key" # set to 'role' or 'access_key'
S3_BUCKET_NAME="raw-data"
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_IAM_ROLE_ARN=
S3_ENDPOINT="http://172.23.0.1:9100"

# EPC
EPC_SOURCE_NAME="epc-sdk-source"
EPC_CERTIFICATES_STREAM_PARAMS='{"stream_name": "certificates-sdk", "globs": ["epc/sample/certificates.csv"]}'
EPC_CONNECTION_NAME="epc-sdk-connection"

# POSTGRES DESTINATION
DATABASE_NAME="mydatabase"
DATABASE_HOST="172.23.0.1"
DATABASE_PORT="5432"
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SCHEMA="raw_data_sdk"

DESTINATION_NAME="postgres-sdk-destination"
